For

In [1]:
for i in 'data':
    print("huruf {}". format(i))

huruf d
huruf a
huruf t
huruf a

In [2]:
for a in 'data':
    print(a)

d
a
t
a

In [3]:
color = ["merah", "kuning", "hijau"]

for i in color:
    print("warna {}".format(i))

warna merah
warna kuning
warna hijau

Task 2 (for loop, string, list)

In [9]:
for i in 'Data Analyst' :
    print("huruf {}". format(i))

huruf D
huruf a
huruf t
huruf a
huruf
huruf A
huruf n
huruf a
huruf l
huruf y
huruf s
huruf t

In [8]:
for i in 'Data Analyst' :
    print(i)

D
a
t
a

A
n
a
l
y
s
t

In [6]:
MyEduSolve = ["Data Analyst", "UI/UX"]

for i in MyEduSolve:
    print("MyEduSolve {}".format(i))

MyEduSolve Data Analyst
MyEduSolve UI/UX

In [ ]:
param

In [12]:
for i in range(3):
    print(i)

0
1
2

Task 3 (for loop, range 1 param, range 2 param)

In [10]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [11]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

for bertingkat

In [20]:
for row in range(3):
    for col in range(3):
        if row == 0 and col <= 2:
            print("*", end = " ")
        elif row == 1 and col <= 1:
            print("*", end = " ")
        elif row == 2 and col == 0:
            print("*", end = " ")
    print()

* * *
* *
*

task 4 (buat 4 column for bertingkat)

In [24]:
for row in range(4):
    for col in range(4):
        if row == 0 and col <= 3:
            print("*", end = " ")
        elif row == 1 and col <= 2:
            print("*", end = " ")
        elif row == 2 and col <= 1:
            print("*", end = " ")
        elif row == 3 and col == 0:
            print("*", end = " ")
    print()

* * * *
* * *
* *
*

Else setelah For

Fungsi else setelah for fungsinya diutamakan pada petualangan yang bersifat pencarian - untuk memberikan jalan keluar program saat pencarian tidak ditentukan

In [1]:
for i in range(1,7):
    if i % 2 == 0:
        print("{} adalah genap".format(i))
    else:
        print("{} adalah genap".format(i))

1 adalah genap
2 adalah genap
3 adalah genap
4 adalah genap
5 adalah genap
6 adalah genap

task 1 (buat if condition, else, elif, dan for loop)

In [6]:
for i in range(1,6):
    if i == 1:
        print("{} adalah angka pertama".format(i))
    elif i % 2 == 0:
        print("{} adalah angka genap".format(i))
    else:
        print("{} adalah angka ganjil".format(i))

1 adalah angka pertama
2 adalah angka genap
3 adalah angka ganjil
4 adalah angka genap
5 adalah angka ganjil